@import url("https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(219, 254, 252);
}

.karopka {
  width: 90%;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  position: fixed;
  background-color: rgb(10, 9, 9);
  z-index: 9999;
}

.header .container-flud {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav__link {
  color: aqua;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 20px;
  border-radius: 8px;
  background-color: transparent;
  padding: 3px 5px;
}

.nav__link:hover {
  background-color: white;
}

.nav__link:active {
  background-color: rgb(233, 115, 115);
}

.nav__menu,
.nav__ext {
  display: none;
}

#check {
  display: none;
}

main {
  padding-top: 100px;
}

.hero .container-fluid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.hero__title {
  text-align: center;
  margin-bottom: 30px;
}

.hero__cards__left,
.hero__cards__righr {
  background-color: rgb(236, 229, 180);
  border-radius: 8px;
  border: 2px solid black;
  padding: 20px;
  width: 100%;
  height: 200px;
  overflow: auto;
  text-align: center;
  margin-bottom: 50px;
}

.main__list {
  display: flex;
}

.main__cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 50px;
}

.swiper-slide {
  width: 100%;
  height: auto;
  border-radius: 12px;
  border: 2px solid black;
  background: rgb(221, 249, 3);
  background: radial-gradient(
    circle,
    rgba(221, 249, 3, 1) 22%,
    rgba(245, 5, 5, 1) 95%
  );
  padding: 20px;
}

.swiper-slide:hover{
  box-shadow: 0px 0px 20px 0px black;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
}

.git {
  width: 100px;
  height: 100px;
  color: white;
}

@media (max-width:1024px) {
  .main__cards{
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
  }
}

@media (max-width: 700px) {
  .hero .container-fluid {
    flex-direction: column;
    gap: 0px;
  }
  .main__cards{
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
  }
}

@media (max-width: 576px) {
  .nav__list {
    position: fixed;
    top: 0;
    left: -100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: rgb(238, 174, 202);
    background: radial-gradient(
      circle,
      rgba(238, 174, 202, 1) 16%,
      rgba(148, 187, 233, 1) 72%
    );
    transition: all 1s ease-in-out;
    z-index: 9999;
  }

  #check:checked ~ .nav__list {
    left: 0;
  }

  .nav__menu {
    display: block;
    width: 30px;
    height: 30px;
    border: 2px solid aqua;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav__menu i {
    color: aqua;
    font-size: 20px;
  }

  .nav__ext {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 25px;
    height: 25px;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav__ext i {
    font-size: 20px;
  }

  .nav__link {
    color: black;
  }

  .nav__link:hover {
    background-color: transparent;
  }

  .nav__link:active {
    background-color: transparent;
  }

  .hero__cards__left,
  .hero__cards__righr {
    padding: 10px;
  }

  .hero__cards__text__left {
    font-size: 15px;
  }

  .hero__cards__text__right {
    font-size: 15px;
  }
}

@media (max-width: 500px) {
  .main__cards{
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
  }
}

